body {
  background-color:aquamarine;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;     
  background-color: #333333;  
  height: 60px;                 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
  color: red;
}

.section-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* article {
  display: flex;
  flex-flow: row wrap;
} */

section {
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
}

.card {
  margin: 10px;
  border: 3px solid red;
  padding: 10px;
}

.card img {
  height: 400px;
}

.card h2 {
  text-align: center;
  background-color: black;
  color: white;
}
