
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,251,118,0.9248074229691877) 29%, rgba(54,59,18,1) 85%);
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;     
  background-color: #333333;  
  height: 60px;                 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
  color: red;
}

.section-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* article {
  display: flex;
  flex-flow: row wrap;
} */

section {
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
}

.card {
  margin: 10px;
  border: 3px solid red;
  padding: 10px;
}

.card img {
  height: 400px;
}

.card h2 {
  text-align: center;
  background-color: black;
  color: white;
}

.people-container {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
  justify-content: space-around;
}

.people-card {
  margin: 10px;
  border: 8px solid black;
  padding: 10px;
}

.people-card img {
  height: 400px;
}

.people-card h2 {
  text-align: center;
  background-color: black;
  color: white;
}
